.feed h4 {
	display: inline-block;
}

.feed h4 {
	padding: 0 10px;
}

.feed h4:first-of-type {
	padding-left: 0;
}

.feedCategory {
	cursor: pointer;
}

.feedCategory.active {
	color: #705ff5;
	border-bottom: 3px solid #705ff5;
}
