.rank {
  padding: 5px;

  font-size: 12px;
  line-height: 15px;
  font-weight: normal;

  border: 1px solid black;
  border-radius: 8px;
}

.rank.blueRank {
  color: #419AEC;

  border-color: #419AEC;
}

.rank.orangeRank {
  color: #F09712;

  border-color: #F09712;
}

.rank.redRank {
  color: #EC4179;

  border-color: #EC4179;
}