.modalContent {
	background: var(--background-color);
	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 24px;
		border-bottom: 1px solid #ccc;
		padding: 20px 20px 10px;
		.title {
			margin: 0;
			color: var(--text-color);
			font-size: 24px;
		}
		.closeIcon {
			size: 50px;
			color: var(--text-color);
			opacity: 50%;
			cursor: pointer;
		}
	}
	.body {
		padding: 20px;
		word-wrap: break-word;
	}
	.footer {
		padding: 0 20px 20px;
	}
}

.overlay {
	position: fixed;
	inset: 0px;
	background-color: rgba(255, 255, 255, 0.75);
	z-index: 1200;
}
