@import 'styles/variables.scss';
@import 'styles/index.scss';

:local(.root) {
	padding-left: 10px;
	padding-right: 35px;
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 1;
	border-left: 1.5px solid #eaecf1;
}

.empty {
	padding: 15px;
	font: $fourth-title-font;
	color: var(--text-color);
	text-align: center;
}

.button {
	width: 230px;
	margin: 20px auto 40px;
}
