:local(.container) {
	background: var(--background-color);
	color: var(--text-color);
	width: 700px;
}

:local(.container a) {
	cursor: pointer;
}

:local(.title) {
	margin: 0;
	font-size: 20px;
}

:local(.close) {
	margin-left: auto;
	text-decoration: none;
	color: #ec4179;
	font-weight: 600;
	font-size: 20px;
}

:local(.close:hover) {
	text-decoration: none;
	color: #ec4179;
}

:local(.formInput) {
	height: 60px;
}

:local(.form) {
	margin-top: 20px;
}

:local(.form button) {
	margin-top: 5px;
	border: #705ff5 2px solid;
	background: var(--purple);
	color: #fff;
}

:local(.form span) {
	color: #ec4179;
}

:local(.prompt button) {
	margin-right: 10px;
}

:local(.prompt p) {
	margin: auto 0;
	font-size: larger;
}
