@use 'styles/variables.scss' as var;

.profileInfo {
	padding-top: 15px;
	margin-bottom: 42px;
	display: flex;
	width: 100%;
	background: var.$zircon;
	justify-content: flex-start;
	flex-direction: column;
}
