.profileInfo {
	padding-top: 15px;
	margin-bottom: 42px;
	display: flex;
	width: 100%;
	background: var(--container-color);
	justify-content: flex-start;
	flex-direction: column;
	border-radius: 20px;
}
