@import 'styles/variables';

.container {
	width: 100%;
	margin: 0 auto;
	color: var(--text-color);
	.header {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		margin-bottom: 20px;
	}
}
