@import 'styles/variables';

.container {
	width: 90%;
}

.sectionHeader {
	color: $nobel;
	padding: 20px;
	margin-bottom: 20px;
	background: $zircon;

	h1 {
		margin: 0;
	}
}

.clansSection {
	display: grid;
	grid-template-columns: 2fr 5fr;
	gap: 20px;
}
