.wrapper {
	display: flex;
	align-items: center;
	height: 15px;
	padding: 21px 19px;

	font-size: 14px;
	font-weight: 500;
}

.wrapper.activeOption {
	color: #705ff5;
}

.wrapper:hover {
	background: #f0f3f9;

	cursor: pointer;
}

.wrapper img {
	margin-right: 15px;
}

.wrapper.doNotShow {
	display: none;
}
