@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

.container {
	width: 916px;
	margin: 112px auto 20px;

	font-family: 'Montserrat', Arial, sans-serif;
	color: #282828;
	display: grid;
	grid-auto-flow: row;
	grid-gap: 20px;

	> * {
		background: #f6f7fb;
		padding: 30px 22px;
		border-radius: 7px;
	}
}

.submitBtn {
	width: 100%;
	background: #ec4179;
	border-radius: 7px;
	border: 0;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #ffffff;
	cursor: pointer;
	padding: 12px 20px;
	margin-top: 20px;
}

.form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 70px);
	grid-gap: 20px;
}

.gridContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content:space-between;
	grid-gap: 20px;
}