.signIn {
    position: relative;

    .form {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        max-width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        & > button {
            height: 50px;
        }
        .light {
            color: #E5E5E5;
            font-size: 20px;
            hr {
                display: block;
            }
		}
        .error {
            margin-top: 5px;
            text-align: right;
            color: #EC4179;
        }
        .labelWrapper {
            margin-bottom: 5px;
            display: flex;
            justify-content: space-between;
        }
        input {
            width: 100%;
        }
    }

    footer {
		position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%);
		font-size: 14px;
    }
}
