@import "styles/variables";

.clanInfo {
	background: $zircon;
	margin-bottom: 20px;
	min-width: 800px;

	&Avatar {
		max-height: 500px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&Description {
		padding: 20px;
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
}
