@import 'styles/variables';

.clanInfo {
	background: var(--container-color);
	margin-bottom: 20px;
	min-width: 800px;
	border-radius: 5px;

	&Avatar {
		max-height: 500px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&Description {
		padding: 20px;
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
}
