.profileBio {
	width: 916px;
	height: 206px;
	padding: 20px;
	margin: 42px;
	background: #fafbff;
	.profileHeader {
		display: flex;
		gap: 10px;
		padding-bottom: 20px;
		align-items: center;
		.name {
			padding-top: 7px;
			font-size: 18px;
		}
		.avatar {
			width: 57px;
			height: 57px;
			cursor: pointer;
		}
	}
	.link {
		color: #705ff5;
		text-decoration: underline;
		font-size: 14px;
	}
	.fields {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 2vw;
		font-size: 14px;
	}
}
