@use 'styles/variables.scss' as var;

.profileBio {
	width: 916px;
	height: 206px;
	padding: 20px;
	margin: 42px;
	background: var.$zircon;
	.profileHeader {
		display: flex;
		padding-bottom: 20px;
		align-items: center;
		.avatar {
			width: 57px;
			height: 57px;
			cursor: pointer;
		}
	}
	.link {
		color: var.$cornflower-blue;
		text-decoration: underline;
		font-size: 14px;
	}
	.fields {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 2vw;
		font-size: 14px;
	}
}
