@use 'styles/variables.scss' as var;

.logotype {
	&Image {
		height: 65px;
		width: 200px;
		padding-left: 10px;
	}
}

.header {
	background-color: var.$cornflower-blue;

	display: flex;
	justify-content: space-between;
}
