// TODO: replace font and colors to variables
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.checkbox {
	display: flex;
    gap: 7px;
    align-items: center;
	input[type="checkbox"] {
		all: unset;
		display: inline-block;
		position: relative;
		width: 16px;
		height: 16px;
		cursor: pointer;

		&::before,
		&::after {
			position: absolute;
			display: block;
			content: "";
		}
		&::before {
			box-sizing: border-box;
			width: 100%;
			height: 100%;
			border: 1px solid;
			border-radius: 2px;
		}
		&::after {
			left: 50%;
			top: 50%;
		}
		&:not(:checked, :indeterminate)::before {
			background-color: #fafbff;
			border-color: #282828;
		}
		&:checked,
		&:indeterminate {
			&::before {
				background-color: #EC4179;
				border-color: #EC4179;
			}
		}
		&:focus::before {
			box-shadow: 0 0 1px 1px #282828;
		}
		&:checked::after {
			width: 15%;
			height: 40%;
			border: solid white;
			border-width: 0 2px 2px 0;
			transform: translate(-50%, -60%) rotate(45deg);
		}
		&:indeterminate::after {
			width: 40%;
			height: 0;
			border: solid white;
			border-width: 0 0 2px 0;
			transform: translate(-50%, -60%);	
		}
		&:disabled {
			cursor: default;
			&::before {
				background-color: #ddd;
			}
			&:checked::before,
			&:indeterminate::before {
				filter: grayscale(0.5);
			}
		}
	}
	.label {
		font-family: Montserrat;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 19px;
		letter-spacing: 0em;
		text-align: left;
	}
}
