.switch {
	& > span:first-of-type {
		width: 40px;
		outline: none !important;
		background: #f8b7cc !important;
		&::before {
			box-shadow: none !important;
			background-color: #ec4179 !important;
			transform: scale(1.5);
		}
	}
	input {
		display: none;
	}
}
