@use 'styles/variables.scss' as var;

.container {
	position: relative;
	height: 88px;

	.inputField,
	.passwordField {
		box-sizing: border-box;
		width: 100%;
		background: var(--secondary-container-color);
		color: var(--text-color);
		border-radius: 7px;
		border: 0;
		font: var.$base-font;
		line-height: 17px;
		padding: 15px 20px;
		outline: none;
		transition: var.$base-animation-time;

		&:hover {
			background-color: var(--text-color);
			color: var(--background-color);
		}
		&:focus {
			background-color: var(--text-color);
			color: var(--background-color);
		}
	}

	.inputField::placeholder,
	.passwordField::placeholder {
		color: var(--text-color);

		opacity: 0.4;
	}

	.inputWrapper {
		position: relative;
	}

	.iconWrapper {
		position: absolute;
		cursor: pointer;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		width: 47px;
		height: 47px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 7px;
		transition: var.$base-animation-time;

		&:hover {
			background-color: var(--text-color);
			color: var(--background-color);
		}
	}

	.visibilityIcon {
		user-select: none;
		width: 15px;
		height: 15px;
	}
	.labelWrapper {
		display: flex;
		justify-content: space-between;

		.label {
			display: block;
			font: var.$progress-bar-font;
			line-height: 15px;
			color: var(--text-color);
			margin-bottom: 5px;
		}

		.forgot {
			text-align: right;
			text-decoration: underline;
			font-size: 12px;
			font-family: var.$base-font-family;
			color: var.$cornflower-blue;
		}
	}

	.error {
		text-align: right;
		margin-top: 2px;
		height: 12px;
		font-size: 12px;
		color: var(--pink);
	}
}
