@use 'styles/variables.scss' as var;

.container {
	position: relative;
	height: 82px;

	.inputField,
	.passwordField {
		box-sizing: border-box;
		width: 100%;
		background: var.$white-lilac;
		border-radius: 7px;
		border: 0;
		font: var.$base-font;
		line-height: 17px;
		color: var.$mine-shaft;
		padding: 15px 20px;
		outline: none;
		transition: var.$base-animation-time;

		&:hover {
			background-color:#dee4f2;
		}
	}

	.inputField::placeholder,
	.passwordField::placeholder {
		color: rgba(40, 40, 40, 0.5);
		opacity: 0.4;
	}

	.inputWrapper {
		position: relative;
	}

	.iconWrapper {
		position: absolute;
		cursor: pointer;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		width: 47px;
		height: 47px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 7px;
		transition: var.$base-animation-time;

		&:hover {
			background-color:rgb(228, 228, 255);
		}
	}

	.visibilityIcon {
		user-select: none;
		width: 15px;
		height: 15px;
	}

	.label {
		display: block;
		font: var.$progress-bar-font;
		line-height: 15px;
		color: var.$mine-shaft;
		margin-bottom: 5px;
	}

	.error {
		color: red;
		font-size: 10px;
		position: absolute;
		bottom: 0px;
	}
}
