.tag {
	box-sizing: border-box;
	padding: 5px;

	font-size: 12px;
	font-weight: 400;

	border: 1px solid #f09712;
	border-radius: 8px;
}

.blue {
	border-color: #419aec;
	color: #419aec;
}

.yellow {
	border-color: #f09712;
	color: #f09712;
}

.red {
	border-color: #ec4179;
	color: #ec4179;
}
