@import 'styles/variables';

$easy: $french-rose;
$medium: $fire-bush;
$hard: $picton-blue;

@mixin rank-color($color) {
	border-color: $color;
	color: $color;
}

.rank {
	display: inline-block;
	width: 50px;
	height: 25px;
	border: 1px solid;
	border-radius: 5px;
	font: 12px $secondary-font-family;
	line-height: 23px;
	letter-spacing: 0;
	text-align: center;
	user-select: none;

	&.easy,
	&.honor {
		@include rank-color($easy);
	}

	&.medium {
		@include rank-color($medium);
	}

	&.hard {
		@include rank-color($hard);
	}

	&.honor {
		width: auto;
		padding: 0 5px;
		font-family: 14px $secondary-font-family;
	}
}
