// TODO: replace font and colors to variables
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.password {
	padding: 9px 10px 9px 20px;
	background: #f0f3f9;
	display: flex;
	align-items: center;

	.input {
		flex-basis: 100%;
		border: none;
		border-radius: 0;
		padding: 0;
	}
	
	.hide {
		outline: 0;
		background: transparent;
		margin: 0 0 0 10px;
		box-sizing: border-box;
		width: 30px;
		height: 30px;
		text-align: center;
	}
}

.password .hide {
	border-radius: 7px;
	border: 1px solid transparent;
	transition: border-color 0.25s ease-in-out;
}

.password .hide:focus {
	border-color: #282828;
}
