@use 'styles/variables.scss' as var;

.header {
	padding-bottom: 20px;
	display: flex;
	align-items: center;
}

.iconLabel {
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	padding-left: 10px;
	color: var.$mine-shaft;
}
