@use 'styles/variables.scss' as var;

.listContainer {
	.header {
		display: block;
	  font: var.$base-font;
	  line-height: 15px;
	  color: var.$mine-shaft;
	  margin-bottom: 5px;
	}

	.listContainer {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		
		label {
			cursor: pointer;
		}

		.listItem {
			margin: 0 5px;
		}
	}
}
