.listContainer {
	.header {
		display: block;
	  font-family: "Montserrat", sans-serif;
	  font-style: normal;
	  font-weight: 500;
	  font-size: 12px;
	  line-height: 15px;
	  color: #282828;
	  margin-bottom: 5px;
	}

	.listContainer {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		.listItem {
			margin: 0 5px;	
		}
	}
}
