:local(.container) {
	display: flex;
	flex-direction: column;
}

:local(.container img) {
	width: 200px;
	margin-bottom: 10px;
	border-radius: 10px;
}

:local(.container label) {
	display: flex;
	flex-direction: column;
	width: 210px;
}
