@import 'styles/variables';

.searchLabel {
	&:hover {
		background-color: transparent !important;
	}

	.field {
		margin-left: 5px;
		color: var(--text-color);

		input {
			padding: 0;
			font: $sixth-title-font;
			color: var(--text-color);
		}

		div,
		div::before,
		div::after {
			border: none !important;
		}
	}
}
