@import 'styles/variables';

.info {
	display: flex;
	width: 130px;
	font-size: 12px;

	&Icon {
		color: rgba($mine-shaft, 0.5);
	}

	&Description {
		color: $mine-shaft;

		p {
			margin: 0 0 0 5px;
		}

		a {
			color: rgba($french-rose, 0.5);
			text-decoration: underline;

			&:hover {
				color: rgba($cornflower-blue, 0.5);
			}
		}
	}

	&Divider {
		border-left: rgba($mine-shaft, 0.5) 1px solid;
		border-right: rgba($mine-shaft, 0.8) 1px solid;
		padding: 0 10px;
		margin: 0 10px;
	}
}
