:local(.info) {
	display: flex;
	width: 130px;
	font-size: 12px;
}

:local(.icon) {
	opacity: 0.5;
	color: var(--text-color);
}

:local(.infoDescription) {
	color: var(--text-color);
	opacity: 0.5;
}

:local(.infoDescription p) {
	margin: 0 0 0 5px;
}

:local(.infoDescription a) {
	color: var(--pink);
	opacity: 0.5;
	text-decoration: underline;
}

:local(.infoDivider) {
	border-left: var(--divider) 1px solid;
	border-right: var(--divider) 1px solid;
	padding: 0 10px;
	margin: 0 10px;
}

:local(.infoDescription a:hover) {
	color: var(--purple);
	opacity: 0.5;
}
