@import 'styles/variables';

$height-title: 38px;
$height-editor: 210px;

.taskCode {
	position: relative;
	flex-grow: 1;
	&Editor {
		padding-bottom: 35px;
		height: 50%;
	}
	&Title {
		position: relative;
		display: flex;
		align-items: center;
		padding-left: 18px;
		height: $height-title;
		box-sizing: border-box;
		font: $name-font;
		background-color: #f0f3f9;
		& > p {
			margin: 0;
		}
	}
	&Zoom {
		position: absolute;
		top: 6px;
		right: 5px;
		cursor: pointer;
	}
	&Inner {
		overflow: hidden;
		height: calc(100% - #{$height-title});
	}
	&FullScreen {
		position: fixed;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		z-index: 1200;
		height: 100vh;
		padding-bottom: 0;
	}
}
