.header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background: #f0f3f9;
	height: 91px;
	margin: 0;
	display: grid;
	grid-auto-flow: column;
	grid-gap: 10px;
	align-items: center;
	justify-items: center;
	justify-content: flex-end;
	padding-right: 42px;
	z-index: 9;

	.bell {
		margin-right: 20px;
	}
}

.name {
	font-family: Montserrat;
	font-weight: 500;
	font-size: 18px;
}

.bell {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 29px;
	height: 28px;
	cursor: pointer;

	&Counter {
		position: absolute;
		right: 0;
		top: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #ec4179;
		width: 15px;
		height: 15px;
		border-radius: 50%;

		span {
			font-family: Inter;
			font-size: 10px;
			color: white;
		}
	}
}

.avatarCover {
	position: relative;

	.navigation {
		position: absolute;
		width: 250px;
		min-height: 214px;
		background: #ffffff;
		border: 0.5px solid #efefef;
		box-sizing: border-box;
		box-shadow: 0px 4px 6px rgba(189, 189, 189, 0.25);
		border-radius: 5px;
		top: 83px;
		left: 50%;
		transform: translateX(-50%);

		&List {
			list-style: none;
			display: grid;
			height: 214px;
			grid-template-rows: repeat(4, 1fr);
			margin: 0;
			padding: 0;
		}

		&Item {
			padding: 0 19px;
			cursor: pointer;
			display: flex;
			align-items: center;
			color: #282828;

			&:hover {
				position: relative;

				:before {
					content: '';
					position: absolute;
					right: 19px;
					width: 212px;
					height: 0px;
					top: 0;
					border-top: 1px solid #e5e5e5;
				}

				:after {
					content: '';
					position: absolute;
					right: 19px;
					width: 212px;
					height: 0px;
					bottom: 0;
					border-bottom: 1px solid #e5e5e5;
				}

				.navigationLink span {
					color: #705ff5;
				}
			}
		}

		&Link {
			text-decoration: none;
			font-family: Montserrat;
			font-weight: 500;
			font-size: 14px;
			display: flex;
			align-items: center;
			color: #282828;

			img {
				margin-right: 15px;
			}
		}
	}
}
