@import "styles/variables";

h4 {
	font: $fourth-title-font;
}

a {
	font-family: $base-font;
	font-size: 14px;
	color: #705ff5;
	text-decoration: underline;
}

.signUp {
	position: relative;

	.form {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 300px;
		max-width: 80%;
		margin: auto;
		display: flex;
		flex-direction: column;
		gap: 5px;
		& > button {
			height: 50px;
		}
		.error {
			color: $french-rose;
			margin-top: -20px;
			margin-bottom: 5px;
		}
		.header {
			margin-top: 10px;
		}
	}

	footer {
		font-family: $base-font-family;
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform: translate(-50%);
		font-size: 14px;
		color: rgba(40, 40, 40, 0.5);
		.link {
			text-decoration: underline;
		}
	}
}
