@import 'styles/variables';

h4 {
	font: $fourth-title-font;
	margin-bottom: 15px;
}

.light {
	color: $nobel;
}

.info,
.error {
	margin-bottom: 15px;
}

a {
	font-family: $base-font;
	font-size: 14px;
	color: #705ff5;
	text-decoration: underline;
}

.form {
	& > button {
		width: 100%;
	}
	.cancel {
		float: right;
	}
}

.footer {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
	font: $base-font;
	line-height: 17px;
	color: $nobel;
}

.form,
.footer {
	a {
		color: $cornflower-blue;
		text-decoration: underline;
	}
}
