.progress-bars {
	padding: 10px 0;
	width: 316px;

	.progress-bar-block {
		margin-top: 17px;
		.progress-bar-info {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			height: 18px;

			.progress-name {
				margin-bottom: 0;
			}
			.progress-info-done {
				margin-bottom: 0;
				#progress-done {
					color: #ec4179;
				}
				#progress-of-symbol {
					color: rgba(40, 40, 40, 0.5);
				}
				#progress-left {
					color: rgba(40, 40, 40, 0.5);
				}
			}
		}
	}
	.progress-bar-block:first-child {
		margin-top: 0;
	}
	.progress-bar {
		background-color: #f0f3f9;
		margin: 3px 0;
		.bp3-progress-meter {
			background-color: #ec4179;
		}
	}
}
