@import 'styles/variables';

.profileCollectionsList {
	display: flex;
	flex-direction: column;
	flex-flow: column nowrap;
	flex-grow: 1;
	gap: 15px;
	padding: 0 10px;
	padding-bottom: 15px;
	border-left: 1.5px solid var(--minor-text-color);

	.empty {
		padding-bottom: 10px;
		font: $fourth-title-font;
		color: var(--text-color);
		text-align: center;
		.icon {
			display: block;
			margin: auto;
			fill: var(--text-color);
			margin-bottom: 15px;
		}
	}
}
