@import "styles/variables";

.container {
	width: 100%;
	margin: 0 auto;
	.header {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		margin-bottom: 20px;
	}
}

.columnName,
.pagesPanel {
	color: var(--text-color);

	* {
		color: var(--text-color);
	}
}

.leadersList {
	padding: 10px;
	border-radius: 15px;
	background: var(--container-color);

	.table {
		border-collapse: collapse;
		width: 800px;
		background: var(--container-color);

		td,
		th {
			font: $base-font;
			color: var(--text-color);
			border-color: var(--minor-text);
		}

		th {
			font: $sixth-title-font;
			svg {
				fill: var(--text-color) !important;
			}
		}

		.centered {
			text-align: center;
		}
		.name {
			justify-content: space-between;

			input {
				width: 150px;
			}
		}

		tr:last-of-type td {
			border: none;
		}
	}

	margin-bottom: 30px;
}

.buttonWrapper {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}
