@import "styles/variables";

.container {
	width: 916px;
	font-family: $base-font;
	color: #282828;
}

.userGreeting {
	margin: 40px 25px;
	font-weight: 500;
	font-size: 36px;
}

.nextTaskWrapper,
.communityWrapper,
.feedWrapper {
	margin-bottom: 41px;
}
