.creationsSection {	
	&Description {
		// flex-basis: 50%;
		width: 400px;
	}

	&Logo {
		flex-basis: 40%;

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
}

.skillsSection{
    background-image: url('/assets/images/landing/landing3.svg');
    background-position: center right;
    background-repeat: no-repeat;
}
