.tagWrappers {
	display: flex;
	width: 100%;
	margin-top: 10px;
	padding: 5px 0;

	overflow: hidden;
	overflow-x: auto;
}

.tagWrappers::-webkit-scrollbar {
	height: 6px;
}

.tagWrappers::-webkit-scrollbar-thumb {
	background-color: rgba(236, 65, 121, 0.3);
	border-radius: 10px;
}

.tagWrappers:hover::-webkit-scrollbar-thumb {
	background-color: rgba(236, 65, 121, 0.6);
}
