.challengesAmount {
    padding-top: 10px;
    padding-left: 25px;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #282828;
    opacity: 0.5;
}
