@import 'styles/variables';

.clanInfo {
	background: $zircon;
	margin-bottom: 20px;

	&Description {
		padding: 20px;
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
}
