.infoPopover {
	border: 1px solid #ec4179;
	border-radius: 7px;
	background-color: #f0f3f9;
	font-size: 12px;
	padding: 0.5rem;
	width: 300px;
}

.icon {
	margin-left: 7px;
	outline: none;
	vertical-align: bottom;
}
