:local(.createTaskSettings) {
	padding: 20px;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;

	color: #282828;
	form {
		.disciplinesHeading {
			padding-top: 20px;
		}
		label {
			font-weight: 500;
			font-size: 14px;
			line-height: 15px;
			margin-bottom: 10px;
			margin-top: 15px;
		}
		.radioList {
			margin-top: 20px;
			display: flex;
			justify-content: flex-start;
			gap: 20px;
			.radioItem {
				display: flex;
				flex-direction: column;
				align-items: center;
				padding-left: 20px;
				svg {
					g {
						path {
							fill: #282828;
						}
					}
					path {
						fill: #282828;
					}
				}
				input {
					position: absolute;
					width: 65px;
					height: 65px;
					// visibility: hidden;
				}
				&:hover {
					svg {
						g {
							path {
								fill: #705ff5;
							}
						}
						path {
							fill: #705ff5;
						}
					}
					label {
						color: #705ff5;
					}
				}
			}
			.radioItem.active {
				svg {
					g {
						path {
							fill: #705ff5;
						}
					}
					path {
						fill: #705ff5;
					}
				}
				label {
					color: #705ff5;
				}
			}
		}
		input {
			width: 100%;
			background: #f0f3f9;
			border-radius: 7px;
			padding: 10px;
			height: auto;
		}
		.infoPopover {
			margin-left: 20px;
			vertical-align: middle;
		}
	}
}
