h4 {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 20px;
}

.form{
	margin-top: 20px;
}

.submitBtn {
	width: 100%;
	background: #ec4179;
	border-radius: 7px;
	border: 0;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #ffffff;
	cursor: pointer;
	padding: 12px 20px;
	margin-top: 20px;
}

.footer {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: rgba(40, 40, 40, 0.5);

	.link {
		color: #705ff5;
	}
}
