@use 'styles/variables.scss' as var;

.navBar {
	display: flex;
	flex-direction: row-reverse;
	gap: 15px;
	align-items: center;
	padding-right: 20px;

	a {
		color: var.$white-lilac;

		&:first-child {
			color: var.$french-rose;
		}
		&:first-child:hover {
			color: #b93963;
		}
		font-size: 1rem;
	}
	a:hover {
		color: var.$white-lilac;
		text-decoration: none;
	}
}
