# APPLICATION
PORT=5000

# DATABASE
POSTGRES_DB=codetrainer
POSTGRES_USER=user
POSTGRES_PASSWORD=user

# TYPEORM
TYPEORM_CONNECTION=postgres
TYPEORM_HOST=localhost
TYPEORM_USERNAME=user
TYPEORM_PASSWORD=user
TYPEORM_DATABASE=codetrainer
TYPEORM_PORT=5432
TYPEORM_SYNCHRONIZE=true
TYPEORM_LOGGING=true
TYPEORM_ENTITIES=src/data/models/**/*.ts
TYPEORM_MIGRATIONS=src/data/migrations/**/*.ts
TYPEORM_MIGRATIONS_DIR=src/data/migrations
TYPEORM_ENTITIES_DIR=src/data/models
TYPEORM_SSL=false

# JWT
SECRET_KEY=secretkeysecretkeysecretkey
ISSUER=bs-codetrainer

# AWS
AWS_IMAGES_BUCKET_NAME=codetrainer-images
AWS_IMAGES_BUCKET_REGION=eu-north-1
AWS_IMAGES_ACCESS_KEY=accessKey
AWS_IMAGES_SECRET_KEY=secretKey
