@mixin radio-item-color($color) {
	color: $color;
	svg path {
		fill: $color;
	}
}

.radioItem {
	padding-left: 0 !important;
	& > span {
		display: none !important;
	}
	.radioLabel {
		cursor: pointer;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 10px;
		input {
			position: absolute;
			width: 65px;
			height: 65px;
		}
		.text {
			font-weight: 500;
			font-size: 14px;
			line-height: 15px;
			margin-bottom: 10px;
			margin-top: 15px;
		}
		@include radio-item-color(#282828);
	}
	& input[type="radio"]:checked ~ .radioLabel,
	.radioLabel:hover {
		@include radio-item-color(#705ff5);
	}
}
