.profile__tasks__root {
	padding-top: 20px;
	width: 190px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	font-weight: 600;
	font-size: 16px;
	.active,
	.item:hover {
		color: #705ff5;
		text-decoration: underline;
		text-decoration-color: #705ff5;
		text-underline-offset: 1px;
	}
	.item {
		margin-bottom: 15px;
		background-color: inherit;
	}
	.item:hover:not(.active) {
		cursor: pointer;
	}
}
