@import 'styles/variables.scss';

:local(.root) {
	padding: 15px;
	background-color: var(--background-color);
}

:local(.btn) {
	margin-right: 15px;
}

.containerBlock {
	background: var(--container-color);
	.title {
		font: $fourth-title-font;
		padding-left: 10px;
	}
}
