@import 'styles/variables';

.wrapper {
	box-sizing: border-box;

	display: flex;

	padding: 24px;
	height: 333px;

	background: $zircon;
	border-radius: 15px;
}

.selectingContainer {
	box-sizing: border-box;

	padding-right: 24px;
	min-width: 355px;
	width: 355px;

	border-right: 1px solid $mercury;
}

.title {
	margin: 0;

	font-size: 18px;
	font-weight: 600;
}

.focus {
	&Wrapper {
		display: flex;
		flex-direction: column;
		margin: 28px 0;
	}

	&Title {
		font: 500 12px;
	}
}

.skipButton {
	margin-left: 20px;
}

.taskContainer {
	width: 59%;
	margin-top: 24px;
	padding-left: 24px;
}
