@import 'styles/variables';

.container {
	width: 700px;

	a {
		cursor: pointer;
	}
}

.flex {
	display: flex;
}

.pictures {
	display: flex;
	margin-top: 30px;
	justify-content: space-around;
	flex-wrap: wrap;
}

.title {
	margin: 0;
	font-size: 20px;
}

.close {
	margin-left: auto;
	text-decoration: none;
	color: $french-rose;
	font-weight: 600;
	font-size: 20px;

	&:hover {
		text-decoration: none;
		color: $french-rose;
	}
}

.form {
	margin-top: 20px;

	button {
		margin-top: 5px;
		border: $cornflower-blue 2px solid;
		background: $zircon;
		color: $cornflower-blue;
	}

	span {
		color: $french-rose;
	}
}
