:local(.container) {
	width: 700px;
}

:local(.container a) {
	cursor: pointer;
}

:local(.flex) {
	display: flex;
}

:local(.pictures) {
	display: flex;
	margin-top: 30px;
	justify-content: space-around;
	flex-wrap: wrap;
}

:local(.title) {
	margin: 0;
	font-size: 20px;
}

:local(.close) {
	margin-left: auto;
	text-decoration: none;
	color: #ec4179;
	font-weight: 600;
	font-size: 20px;
}

:local(.close:hover) {
	text-decoration: none;
	color: #ec4179;
}

:local(.form) {
	margin-top: 20px;
}

:local(.form button) {
	margin-top: 5px;
	border: #705ff5 2px solid;
	background: #fafbff;
	color: #705ff5;
}

:local(.form span) {
	color: #ec4179;
}
