@use 'styles/variables.scss' as var;

.invitationBlock {
	width: 400px;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font: var.$menu-font;
	h4 {
		text-align: center;
	}
	h1 {
		text-align: center;
	}
}
.button {
	margin-top: 20px;
	font: var.$button-font;
}
