.container {
	padding: 20px;
	display: grid;
	grid-template-columns: 270px 2fr 4fr;
	grid-template-rows: 100px calc(100vh - 100px);
	grid-template-areas: 'searchPanel challengesList';
}

.searchPanel {
	grid-area: searchPanel;
}

.challengesList {
	grid-area: challengesList;
}
