@import 'styles/variables';
@import '../../variables.scss';

.taskInstructions {
	&Container {
		width: 38%;
	}

	&Content {
		max-height: 100%;
	}

	&Header {
		color: $mine-shaft;
		margin-bottom: 44px;
		& > * {
			display: inline-block;
			vertical-align: middle;

			&:not(:last-child) {
				margin-right: 20px;
			}
		}
	}

	&Title {
		margin: 0;
		font: $name-font;
	}
}

.markdown {
	height: $height-result;
}
