@use 'styles/variables.scss' as var;

.languageChoiceBlock {
	width: 650px;
	height: 375px;
	background-color: var.$white-lilac;
	border-radius: 7px;
	display: flex;
	flex-direction: column;
	h3 {
		margin: 0;
		font: var.$menu-font;
		color: var.$mine-shaft;
		text-align: center;
		&:first-child {
			padding-top: 10px;
		}
	}
}

.languageChoice {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
	grid-template-rows: repeat(auto-fill, 40);
}
