@use 'styles/variables.scss' as var;

.languageChoiceBlock {
	min-width: 650px;
	min-height: 275px;
	background-color: var.$white-lilac;
	border-radius: 7px;
	display: flex;
	flex-direction: column;
	h3 {
		margin: 3px 0;
		font: var.$menu-font;
		color: var.$mine-shaft;
		text-align: center;
		&:first-child {
			padding-top: 10px;
		}
	}
}

.languageChoice {
	padding: 10px 15px 5px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 10px;
	grid-template-rows: repeat(auto-fill, 1fr);
}
