.wrapper {
	box-sizing: border-box;

	display: flex;

	padding: 24px;
	height: 333px;

	background-color: #fafbff;
	border-radius: 15px;
}

.selectingContainer {
	box-sizing: border-box;

	padding-right: 24px;
	min-width: 355px;
	width: 355px;

	border-right: 1px solid #e5e5e5;
}

.title {
	margin: 0;

	font-size: 18px;
	font-weight: 600;
}

.focusWrapper {
	display: flex;
	flex-direction: column;
	margin: 28px 0;
}

.focusTitle {
	font-size: 12px;
	font-weight: 500;
}

.skipButton {
	margin-left: 20px;
}

.taskContainer {
	width: 480px;
	margin-top: 24px;
	padding-left: 24px;
}

.taskTitleWrapper {
	display: flex;
	align-items: center;
}

.taskTitle {
	margin: 0 0 0 14px;

	font-size: 16px;
	font-weight: 600;
}

.taskDescription {
	height: 180px;

	overflow: hidden;
	overflow-y: auto;
}

.taskDescription::-webkit-scrollbar {
	width: 6px;
}

.taskDescription::-webkit-scrollbar-thumb {
	background-color: rgba(236, 65, 121, 0.3);
	border-radius: 10px;
}

.taskDescription:hover::-webkit-scrollbar-thumb {
	background-color: rgba(236, 65, 121, 0.6);
}

.taskDescription p {
	margin: 15px 0 0;

	font-size: 14px;
	font-weight: 400;
}

.taskDescription ul {
	position: relative;
	margin: 20px 0 0;
	padding: 0 0 0 18px;

	list-style: none;
}

.taskDescription li {
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: normal;
}

.taskDescription li::before {
	position: absolute;
	left: 0;
	content: '●';

	color: #ec4179;
}

.taskDescription h6 {
	margin: 18px 0;

	font-size: 16px;
	font-weight: 600;
}

.codeWrapper {
	margin: 18px 0;
	padding: 8px 10px;
	width: 95%;

	background: #EAECF1;
	border-radius: 10px;
}

.taskDescription code {
	font-size: 14px;
	font-weight: 400;
}

.tagWrappers {
	display: flex;
	width: 100%;
	margin-top: 10px;
	padding: 5px 0;

	overflow: hidden;
	overflow-x: auto;
}

.tagWrappers::-webkit-scrollbar {
	height: 6px;
}

.tagWrappers::-webkit-scrollbar-thumb {
	background-color: rgba(236, 65, 121, 0.3);
	border-radius: 10px;
}

.tagWrappers:hover::-webkit-scrollbar-thumb {
	background-color: rgba(236, 65, 121, 0.6);
}
