@import 'styles/variables';

.challenge {
	padding: 25px;
	background-color: $white;
	border-radius: 4px;
	margin-bottom: 20px;
}

.modal {
	margin-left: 20px;
}

.modal:hover {
	text-decoration: underline;
	cursor: pointer;
}
