@import 'styles/variables.scss';

.progressBar {
	&Block {
		.progressInfo {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			height: 18px;

			&Name {
				margin-bottom: 0;
				font: $progress-bar-font;
			}

			&Value {
				margin-bottom: 0;
			}

			&Done {
				color: $french-rose;
				font: $base-font;
				font-weight: 500;
				font-size: 16px;
			}

			&Left,
			&Symbol {
				color: $mine-shaft;
			}

			&:first-child {
				margin-top: 0;
			}
		}
	}

	background: $white-lilac !important;
	margin: 3px 0;

	&Done {
		background: $french-rose !important;
	}
}
