@use 'styles/variables.scss' as var;

.progressBarBlock {
	.progressBarInfo {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		height: 18px;

		.progressName {
			margin-bottom: 0;
			font: var.$progress-bar-font;
		}
		.progressInfoDone {
			margin-bottom: 0;
			.progressDone {
				color: #ec4179;
				font: var.$base-font;
				font-weight: 500;
				font-size: 16px;
			}
			.progressOfSymbol {
				color: rgba(40, 40, 40, 0.5);
			}
			.progressLeft {
				color: rgba(40, 40, 40, 0.5);
			}
		}
	}
	&:first-child {
		margin-top: 0;
	}
}
.progressBar {
	background-color: #f0f3f9;
	margin: 3px 0;
}
