@import 'styles/variables';

.task {
	border-radius: 15px;
	background: $zircon;
	padding: 20px 20px;

	&Container {
		padding: 90px 0 0 300px;
		font-family: $base-font-family;
		font-size: 16px;

		a {
			cursor: pointer;
		}

		h2 {
			margin: 0 0 0 10px;
			font-size: 18px;
		}

		hr {
			margin: 20px -20px;
			border: 1px solid #eaecf1;
		}
	}
}

.header {
	display: flex;
	padding: 20px 0;
}

.switch {
	display: flex;

	button {
		margin-right: 20px;
		font-weight: 600;
		font-size: 16px;
		padding: 3px;
		border: none;
		outline: none;
		background: #fafbff;
		cursor: pointer;
	}

	.active {
		color: $cornflower-blue;
		border-bottom: $cornflower-blue 2px solid;
	}
}

.infoContainer {
	display: flex;
	margin-top: 10px;
}
