@use 'styles/variables.scss' as var;

.taskContainer {
	font: var.$sixth-title-font;
}

.taskContainer a {
	cursor: pointer;
}

.header {
	display: flex;
	padding: 20px 0;
}

.taskContainer h2 {
	margin: 0 0 0 10px;
	font-size: 18px;
}

.task {
	border-radius: 15px;
	background: #fafbff;
	padding: 20px 20px;
}

.taskContainer hr {
	margin: 20px -20px;
	border: 1px solid #eaecf1;
}

.switch {
	display: flex;
}

.switch button {
	margin-right: 20px;
	font-weight: 600;
	font-size: 16px;
	padding: 3px;
	border: none;
	outline: none;
	background: #fafbff;
	cursor: pointer;
}

.switch .active {
	color: var.$cornflower-blue;
	border-bottom: var.$cornflower-blue 2px solid;
}

.infoContainer {
	display: flex;
	margin-top: 10px;
}
