@import 'styles/variables';

.memberItem {
	.position,
	.honor {
		text-align: center;
		font: $sixth-title-font;
	}

	.user {
		display: inline-flex;
		align-items: center;
		gap: 10px;
	}

	.join {
		font: $minor-font;
	}
}
