@import 'styles/variables';

.tag {
	margin-right: 15px;
	padding: 4px 9px;

	color: $mine-shaft;
	font-size: 14px;
	white-space: nowrap;

	background: $white-lilac;
	border-radius: 4px;

	&::selection {
		background: none;
	}
}
