@import 'styles/variables';

.rankContainer {
	display: flex;
	grid-gap: 15px;
	gap: 15px;
	flex-wrap: wrap;
	flex-direction: row;
}

.checkboxContainer {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

h6 {
	margin: 20px 0px 10px;
	font: $tub-font;
}
