@import 'styles/variables';

.header {
	height: 860px;
	display: flex;
	flex-direction: column;
	background: var(--purple);

	&Container {
		height: 100%;
		display: flex;
	}

	&Description {
		text-align: center;
		margin: auto;
	}

	&Title {
		margin: 0;
		color: var(--text-color);
		font: 700 48px $base-font-family;
	}

	&Button {
		cursor: pointer;
		background-color: var(--white);
		color: var(--pink);
		font: $button-font;
		border: none;
		border-radius: 5px;
		padding: 10px 20px;
		transition: $base-animation-time;

		&:hover {
			background-color: darken(#fff, 10%);
		}
	}

	&Text {
		margin: 60px 0;
		color: var(--text-color);
		font: 500 16px $base-font-family;
	}
}
