.password {
	padding: 9px 10px 9px 20px;
	background: #f0f3f9;
	display: flex;
	align-items: center;

	.input {
		flex-basis: 100%;
		border: none;
		border-radius: 0;
		padding: 0;
	}
	
	.hide {
		outline: 0;
		background: transparent;
		margin: 0 0 0 10px;
		box-sizing: border-box;
		width: 30px;
		height: 30px;
		text-align: center;
	}
}

.password .hide {
	border-radius: 7px;
	border: 1px solid transparent;
	transition: border-color 0.25s ease-in-out;
}

.password .hide:focus {
	border-color: #282828;
}
