@import 'styles/variables';

.taskContainer {
	margin: 42px 0;
	width: calc(100vw - 255px);
	padding: 0 40px 0;
	display: flex;
}

.taskInstructions {
	&Container {
		width: 38%;
	}

	&Content {
		max-height: 100%;
	}

	&Header {
		color: $mine-shaft;
		margin-bottom: 44px;
	}

	&Title {
		margin: 0;
		font: $name-font;
	}
}

.taskWorkspace {
	&Container {
		width: 62%;
		padding-left: 40px;
	}
}

.taskPanel {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 10px;

	&Left,
	&Right {
		display: flex;
		flex-wrap: nowrap;
		gap: 10px;
	}
}

.taskInstructionsHeader {
	& > * {
		display: inline-block;
		vertical-align: middle;

		&:not(:last-child) {
			margin-right: 20px;
		}
	}
}

.taskSolution,
.taskTests {
	height: 210px;
	margin-bottom: 35px;
}

.taskLanguageSelect {
	margin-top: 10px;
	width: 300px;
}
