.infoPopover {
	display: inline-block;
	border: 1px solid #ec4179;
	border-radius: 7px;
	background-color: #f0f3f9;
	color: #282828;
	font-size: 12px;
	margin-top: 5px;
	padding: 0.5rem;
	width: 300px;
}

.icon {
	margin-left: 5px;
}

.paper {
	pointer-events: none;
	border: 1px solid #ec4179;
	border-radius: 7px;
	color: #282828;
	font-size: 12px;
	margin-top: 5px;
	padding: 0.5rem;
	width: 300px;
}
