@import 'styles/variables';

.notification {
	font: $base-font;
	display: grid;
	grid-template-columns: 60px 1fr auto auto;
	grid-template-rows: 1fr auto;
	align-items: center;
	min-height: 75px;
	grid-gap: 5px 10px;
	padding: 10px 15px;
	transition: background-color ease-in-out $base-animation-time;

	.icon {
		text-align: center;
		grid-row: 1 / span 2;
		grid-column: 1;

		& ~ .message {
			grid-column: 2 / span 3;
		}
	}

	.message {
		grid-row: 1;
		grid-column: 2 / span 3;
		font: $base-font;
		font-weight: 500;
		color: $mine-shaft;
	}

	.unread,
	.date {
		font: $base-font;
		font-size: 12px;
	}

	.unread {
		grid-area: 2 / 3;
		color: $french-rose;
	}

	.date {
		grid-area: 2 / 4;
		color: $nobel;
	}

	&:hover {
		text-decoration: none;
		background-color: rgba($oslo-grey, 0.1);
	}
}
