:local(.rank) {
	font-size: 12px;
	font-weight: 500;
	margin: auto 10px auto 0;
	border-radius: 7px;
	padding: 2px 5px;
}

:local(.1),
:local(.2),
:local(.3) {
	border: #419aec solid 2px;
	color: #419aec;
}

:local(.4),
:local(.5),
:local(.6) {
	border: #f09712 solid 2px;
	color: #f09712;
}

:local(.7),
:local(.8),
:local(.9) {
	border: #ec4179 solid 2px;
	color: #ec4179;
}
