.buttonsBlock {
	display: flex;
	gap: 25px;
	width: 100%;
	align-items: center;
	// margin-bottom: 15px;
	margin-top: 35px;
	label {
		display: inline-block;
		margin-bottom: 5px;
	}
	label.noMargin {
		margin-bottom: 0 !important;
	}

	.yourChallengeSelect {
		ul li span,
		h5 {
			color: var(--text-color);
		}
	}
}

.button {
	height: 45px;
	margin-top: 8px;
}
.buttonBlockSelect {
	margin-top: 0;
}
