.community {
	border-radius: 10px;
	margin-bottom: 40px;
	background-color: #fafbff;
	padding: 24px;
}

.bp3-card {
	background-color: #f0f3f9;
	padding: 20px;
}

.bp3-tag {
	border: 3px solid #ec4179;
	border-radius: 8px;
	padding: 5px;
	color: #ec4179;
}

.communityHeader {
	margin: 0 0 10px;

	font-size: 18px;
	font-weight: 600;
}

.communityDescription {
	margin: 0 0 14px;

	font-size: 14px;
	font-weight: 400;
}

.communityTable {
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}

.communityColumn {
	width: 100%;
}

.communityColumn h5 {
	margin: 0 0 12px;

	font-size: 16px;
	font-weight: 500;
}

.columnText {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	height: 27px;

	font-size: 14px;
	font-weight: 400;
}

.userRow {
	margin-bottom: 10px;
}

.userImage {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	margin: 0 10px;
}

.row {
	display: flex;
	align-items: center;
}

.buttonsContainer {
	display: flex;
	flex-direction: column;
	width: 207px;
}

.addButton,
.createButton {
	height: 44px;
}

.addButton {
	margin-bottom: 15px;
}

.bp3-button {
	display: block;
	background-color: #fff;
	color: #ec4179;
	border: 3px solid #ec4179;
	border-radius: 8px;
	padding: 8px;
	width: 220px;
	cursor: pointer;
}

.bp3-button.primary {
	background-color: #ec4179;
	color: #fff;
	margin-bottom: 10px;
}
