.header {
	margin: 0 0 10px;
	font-size: 18px;
	font-weight: 600;
}

.form{
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 70px);
	grid-gap: 20px;

	label {
		pointer-events: none;
	}

	.link {
		font-size: 16px;
		color: #705ff5;
		justify-self: center;
		align-self: center;
	}
}

.submitBtn {
	width: 100%;
	background: #ec4179;
	border-radius: 7px;
	border: 0;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #ffffff;
	cursor: pointer;
	padding: 12px 20px;
	margin-top: 10px;
}




