.rank-breakdown {
	display: flex;
	flex-direction: column;
	position: relative;
	.circular-progressbar {
		font-size: 14px;
	}
	.progress-circle-info {
		position: absolute;
		top: 90px;
		font-size: 16px;
		right: 135px;
	}
}
