.rankBreakdown {
	display: flex;
	flex-direction: column;
	position: relative;
	.circularProgressbar {
		font-size: 14px;
	}
	.progressCircleInfo {
		position: absolute;
		top: 90px;
		font-size: 16px;
		right: 135px;
	}
}
