@import 'styles/variables';

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 600px;
    margin: auto;
    padding: 40px;
    .code {
        background-color: $white;
        padding: 10px;
    }
}
.contributors {
    padding: 20px 40px;
    .users > * {
        margin: 5px;
    }
}