@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import '~normalize.css';
@import './variables.scss';

[data-theme^='light'],
[data-theme] [data-theme^='light'] {
	--text-color: #{$mine-shaft};
	--minor-text-color: #{$oslo-grey};
	--background-color: #{$white};
	--container-color: #{$zircon};
	--secondary-container-color: #{$white-lilac};
	--pink: #{$french-rose};
	--pink-active: #{$rubine-red};
	--purple: #{$cornflower-blue};
	--purple-active: #{$cornflower-blue};
	--divider: #e5e5e5;
	--header: #{$white-lilac};
	--sidebar: #{$cornflower-blue};
	--misc: #{$french-rose};
	--border: #efefef;
	--rank-easy: #{$picton-blue};
	--rank-medium: #{$fire-bush};
	--rank-hard: #{$french-rose};
}

[data-theme^='dark'],
[data-theme] [data-theme^='dark'] {
	--text-color: #{$light-gray};
	--minor-text-color: #{$dusty-gray};
	--background-color: #{$rich-black};
	--container-color: #{$eerie-black};
	--secondary-container-color: #{$onyx};
	--pink: #{$pictorian-carmine};
	--pink-active: #{$rubine-red};
	--purple: #{$cornflower-blue};
	--purple-active: #{$cornflower-blue};
	--divider: #{$onyx};
	--header: #{$onyx};
	--sidebar: #{$space-cadet};
	--misc: orange;
	--border: #{$eerie-black};
	--rank-easy: #{$picton-blue};
	--rank-medium: #{$fire-bush};
	--rank-hard: #{$french-rose};
}

body {
	color: var(--text-color);
	background-color: var(--background-color);
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(236, 65, 121, 0.3);
	border-radius: 10px;
}

*:hover::-webkit-scrollbar-thumb {
	background-color: rgba(236, 65, 121, 0.6);
}

a {
	text-decoration: none;
}
