.rank-breakdown{
  display: flex;
  flex-direction: column;
  position: relative;
  .circular-progressbar {
    font-size: 14px;
  };
  .progress-circle-info{
    position: absolute;
    top:0;
    right:0;
  }

}