.stats {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2vw;
	padding: 20px;

	.iconLabel {
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
		padding-left: 10px;
		color: #282828;
	}

	.header {
		padding-bottom: 20px;
		display: flex;
		align-items: center;
	}
}

.progressBar {
	background-color: #f0f3f9;
	margin: 3px 0;
	.bp3-progress-meter {
		background-color: #ec4179;
	}
}
