$white: #fff;
$cornflowerBlue: ##705ff5;
$frenchRose: #ec4179;
$zircon: #fafbff;
$mineShaft: #282828;
$nobel: #b3b3b3;
$whiteLilac: #f0f3f9;

$baseFontFamily: 'Montserrat';
$baseFont: 400 14px $baseFontFamily;
$thirdTitleFont: 400 36px $baseFontFamily;
$fourthTitleFont: 400 24px $baseFontFamily;
$fifthTitleFont: 400 18px $baseFontFamily;
$sixthTitleFont: 400 16px $baseFontFamily;
$menuFont: 500 18px $baseFontFamily;
$buttonFont: 600 16px $baseFontFamily;
$tubFont: 600 16px $baseFontFamily;

$baseAnimationTime: 0.3s;
