$white: #fff;
$cornflower-blue: ##705ff5;
$french-rose: #ec4179;
$zircon: #fafbff;
$mine-shaft: #282828;
$nobel: #b3b3b3;
$white-lilac: #f0f3f9;

$base-font-family: 'Montserrat';
$base-font: 400 14px $base-font-family;
$third-title-font: 400 36px $base-font-family;
$fourth-title-font: 400 24px $base-font-family;
$fifth-title-font: 400 18px $base-font-family;
$sixth-title-font: 400 16px $base-font-family;
$menu-font: 500 18px $base-font-family;
$button-font: 600 16px $base-font-family;
$tub-font: 600 16px $base-font-family;

$base-animation-time: 0.3s;
