:local(.tabs) {
	background-color: var(--container-color);
	padding: 0.75rem 0 0.75rem 1rem;
	display: flex;
	flex-wrap: nowrap;
}
:local(.tab) {
	cursor: pointer;
	border-bottom: 2px solid transparent;
	position: relative;
	&:not(:last-child) {
		margin-right: 1.5rem;
	}
}
:local(.tab__active) {
	border-bottom-color: var(--purple);
	color: var(--purple);
}
:local(.icon) {
	position: absolute;
	top: 3px;
	right: -23px;
}
