@use "styles/variables.scss" as var;

.navMenu {
	background-color: var.$zircon !important;
	padding-bottom: 20px;
	display: flex;
	gap: 30px;
	width: 100%;
	list-style-type: none;
	border-bottom: 1.5px solid #eaecf1;
	.navMenuItem {
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		color: var.$mine-shaft;
	}
	.navMenuItem:hover {
		background-color: inherit;
		color: var.$cornflower-blue;
		text-decoration: underline;
		text-decoration-color: var.$cornflower-blue;
		text-underline-offset: 1px;
	}
	.navMenuItem.active {
		cursor: default;
		color: var.$cornflower-blue;
		text-decoration: underline;
		text-decoration-color: var.$cornflower-blue;
		text-underline-offset: 1px;
	}
	&:first-child {
		padding-left: 15px;
	}
}
