.createTaskBlock {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 580px 375px;
	grid-gap: 15px;
}
.taskInstructions {
	position: relative;
}
.buttonsBottom {
	display: flex;
	gap: 15px;
	width: 100%;
	justify-content: flex-end;
	margin: 40px 20px 40px 0;
}
.validationButtons {
	margin-top: 20px;
	display: flex;
	justify-content: flex-end;
	gap: 15px;
}
