ul {
	list-style-position: inside;
	padding: 0;
}

li::marker {
	color: #ec4179;
	font-size: 150%;
}

.example {
	background: #eaecf1;
	border-radius: 10px;
	padding: 8px;
}

.example p {
	margin: 0;
}

.tags {
	display: flex;
	margin-top: 30px;
}

.tags a {
	margin: 0 10px 0 0;
	text-decoration: none;
	background: #f0f3f9;
	color: rgba(40, 40, 40, 0.5);
	border-radius: 4px;
	padding: 4px 9px;
}
